*{
    box-sizing: border-box;
}

body{
    /* background: linear-gradient(0.25turn, #B0824A 0.5rem, #D2BF9F, #B0824A 95%); #B0824A, #D2BF9F */
    background-image: linear-gradient(rgb(225, 205, 165, 0.5), rgb(225, 205, 165, 0.5)), url("https://img.freepik.com/foto-gratis/fondo-papel-grunge_1048-10849.jpg");

    background-size: cover;
    font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
    display: flex;
    color: #28190e;
}
.wrapper{
    width: 60%;
    margin-left:1rem;
    margin-right: clamp(5rem 30% 40rem);
    margin-bottom: 2rem;
}
header{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}
header img{
    width: 10rem;
    margin-left: 1rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}
h1{
    font-size: 3rem;
    margin-left: 1rem;
    text-decoration: underline;
}
hr{
    width: 100%;
    border: 1px solid #28190e;
}
aside{
    width:20%;
    margin: 17rem 0;
}
ul{
    padding-left: 0;
}
li{
    margin-top:1rem;
    font-weight: bold;
    list-style-type:none;
    border-left: double #28190e 2px;
    padding-left: 0.5rem;
}
li:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: #28190e;
    font-size:clamp(0.8rem, 1.3vw, 1.3rem);
}
p a{
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
}
.hidden{
    display:none;
}
cite{
    display: block;
    text-align: right;
}
